In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("C:/code/SavvyCoders/activities/ClassProject/h08.csv", header=[0,1])

print(df)

                 State          2021 Unnamed: 2_level_0     2020 (41)  \
    Unnamed: 0_level_1 Median income     Standard error Median income
0        United States        70,784                368        68,010
1              Alabama        56,929              2,294        54,689
2               Alaska        81,133              3,967        74,746
3              Arizona        70,821              3,394        67,088
4             Arkansas        50,784              1,440        50,777
..                 ...           ...                ...           ...
102           Virginia        80,268              2,953        86,053
103         Washington        87,648              3,307        85,157
104      West Virginia        46,836              2,247        54,396
105          Wisconsin        69,943              3,133        70,553
106            Wyoming        71,052              3,919        68,506

    Unnamed: 4_level_0          2019 Unnamed: 6_level_0          2018  \
        Standard error Median income     Standard error Median income
0                  535        68,703                550        63,179
1                2,563        56,200              2,512        49,936
2                3,557        78,394              6,685        68,734
3                3,409        70,674              3,391        62,283
4                1,837        54,539              2,384        49,781
..                 ...           ...                ...           ...
102              3,261        86,172              3,239        83,243
103              3,242        87,381              3,094        86,021
104              2,280        56,916              3,174        54,566
105              5,051        71,380              2,462        67,574
106              2,309        69,027              3,998        67,477

    Unnamed: 8_level_0     2017 (40)  ...          1988 Unnamed: 72_level_0  \
        Standard error Median income  ... Median income      Standard error
0                  420        61,136  ...        27,225                 139
1                2,423        50,865  ...        19,948                 912
2                3,390        77,987  ...        33,103               1,183
3                2,291        59,700  ...        26,435                 843
4                2,108        49,751  ...        20,172                 706
..                 ...           ...  ...           ...                 ...
102              3,330        78,265  ...        72,089               2,912
103              3,264        79,071  ...        71,381               2,274
104              1,443        51,900  ...        42,733               2,054
105              2,200        70,164  ...        65,304               2,160
106              4,199        65,803  ...        58,335               2,418

        1987 (21) Unnamed: 74_level_0          1986 Unnamed: 76_level_0  \
    Median income      Standard error Median income      Standard error
0          26,061                 127        24,897                 129
1          19,734               1,147        19,132                 885
2          33,233               1,497        31,356               1,017
3          26,749                 892        25,500                 718
4          18,827               1,008        18,730                 765
..            ...                 ...           ...                 ...
102        68,626               2,318        70,322               2,542
103        62,502               2,535        63,615               2,248
104        39,367               1,780        38,963               2,142
105        60,328               3,226        62,548               1,900
106        63,122               3,336        55,754               2,042

        1985 (20) Unnamed: 78_level_0     1984 (19) Unnamed: 80_level_0
    Median income      Standard error Median income      Standard error
0          23,618                 128        22,415                 102
1          18,333                 760        17,310                 605
2          34,782               1,089        32,356               1,473
3          23,877                 744        21,425                 609
4          17,451                 764        15,674                 748
..            ...                 ...           ...                 ...
102        68,456               3,188        66,064               2,177
103        57,791               1,820        62,308               2,050
104        38,487               1,994        41,950               1,514
105        55,976               2,796        51,663               2,045
106        53,170               2,526        59,317               1,821

[107 rows x 81 columns]

In [5]:
df.columns = df.columns.map('{0[0]} {0[1]}'.format)
df = df.drop(labels=range(52,107))

KeyError: '[52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106] not found in axis'

In [6]:
print(df)

                     S t     2 0    U n     2 0    U n     2 0    U n     2 0  \
0          United States  70,784    368  68,010    535  68,703    550  63,179
1                Alabama  56,929  2,294  54,689  2,563  56,200  2,512  49,936
2                 Alaska  81,133  3,967  74,746  3,557  78,394  6,685  68,734
3                Arizona  70,821  3,394  67,088  3,409  70,674  3,391  62,283
4               Arkansas  50,784  1,440  50,777  1,837  54,539  2,384  49,781
5             California  81,575  1,219  77,652  1,437  78,105  1,850  70,489
6               Colorado  84,954  3,155  83,777  6,019  72,499  5,221  73,034
7            Connecticut  80,958  5,261  79,432  3,602  87,291  4,630  72,812
8               Delaware  68,687  2,919  70,022  5,283  74,194  3,009  65,012
9   District of Columbia  90,640  3,756  88,218  3,511  93,111  3,884  85,750
10               Florida  59,734  1,509  57,763  1,814  58,368  1,579  54,644
11               Georgia  61,497  2,266  59,265  2,063  56,628  1,782  55,821
12                Hawaii  82,199  3,790  80,825  2,427  88,006  3,565  80,108
13                 Idaho  76,918  1,837  66,725  1,988  65,988  2,152  58,728
14              Illinois  79,253  1,771  74,334  2,227  74,399  2,625  70,145
15               Indiana  70,190  2,519  66,805  4,176  66,693  3,112  59,892
16                  Iowa  72,429  3,508  68,816  3,347  66,054  4,009  68,718
17                Kansas  75,979  4,213  73,082  3,632  73,151  4,329  63,938
18              Kentucky  55,629  3,025  56,755  2,353  55,662  2,553  54,555
19             Louisiana  57,206  2,879  51,186  1,602  51,707  1,412  49,973
20                 Maine  71,139  3,092  63,693  3,437  66,546  5,002  58,663
21              Maryland  97,332  4,492  94,789  4,236  95,572  3,284  86,223
22         Massachusetts  86,566  4,099  87,812  6,327  87,707  2,828  86,345
23              Michigan  64,488  3,819  64,392  3,191  64,119  1,680  60,449
24             Minnesota  80,441  5,050  78,753  3,393  81,426  2,988  71,817
25           Mississippi  46,637  1,805  45,134  2,623  44,787  2,997  42,781
26              Missouri  63,594  2,710  62,178  2,715  60,597  2,932  61,726
27               Montana  64,999  5,000  56,741  2,497  60,195  2,294  57,679
28              Nebraska  78,109  3,963  72,248  2,453  73,071  3,259  67,575
29                Nevada  64,340  3,500  61,164  2,427  70,906  3,465  61,864
30         New Hampshire  88,841  4,818  88,894  3,481  86,900  2,721  81,346
31            New Jersey  88,559  4,751  85,549  4,056  87,726  4,069  74,176
32            New Mexico  53,463  3,142  50,906  1,719  53,113  2,196  48,283
33              New York  72,920  2,771  68,659  2,397  71,855  1,699  67,274
34        North Carolina  62,891  2,101  60,430  1,648  61,159  1,649  53,369
35          North Dakota  68,882  2,731  64,115  2,341  70,031  3,170  66,505
36                  Ohio  62,689  2,930  60,379  1,542  64,663  3,011  61,633
37              Oklahoma  60,096  3,913  52,471  1,911  59,397  2,357  54,434
38                Oregon  81,855  3,071  76,855  3,583  74,413  5,675  69,165
39          Pennsylvania  72,627  2,054  70,789  3,413  70,582  3,226  64,524
40          Rhode Island  74,982  4,221  80,175  3,382  70,151  4,980  62,266
41        South Carolina  62,542  2,161  60,341  1,981  62,028  1,783  57,444
42          South Dakota  73,893  2,655  70,189  4,333  64,255  3,776  59,463
43             Tennessee  62,166  2,640  54,975  1,804  56,627  2,766  56,060
44                 Texas  67,404  1,525  68,404  1,938  67,444  1,769  59,785
45                  Utah  87,649  4,238  83,993  2,880  84,523  3,494  77,067
46               Vermont  76,079  3,471  67,257  4,095  74,305  3,084  70,066
47              Virginia  80,268  2,953  82,214  3,115  81,313  3,056  77,151
48            Washington  87,648  3,307  81,358  3,097  82,454  2,920  79,726
49         West Virginia  46,836  2,247  51,970  2,178  53,706  2,995  50,573
50             Wisconsin  69,943  3,133  67,405  4,826  67,355  2,323  62,629
51               Wyoming  71,052  3,919  65,450  2,206  65,134  3,773  62,539

      U n     2 0  ...     1 9    U n     1 9    U n     1 9    U n     1 9  \
0     420  61,136  ...  27,225    139  26,061    127  24,897    129  23,618
1   2,423  50,865  ...  19,948    912  19,734  1,147  19,132    885  18,333
2   3,390  77,987  ...  33,103  1,183  33,233  1,497  31,356  1,017  34,782
3   2,291  59,700  ...  26,435    843  26,749    892  25,500    718  23,877
4   2,108  49,751  ...  20,172    706  18,827  1,008  18,730    765  17,451
5   1,233  70,038  ...  30,287    634  30,146    538  29,010    570  26,981
6   3,562  74,984  ...  26,214  1,285  26,476  1,075  27,192    926  28,182
7   5,119  74,304  ...  36,213  1,293  32,862  1,362  32,721  1,605  31,090
8   3,599  64,961  ...  30,505  1,167  29,244    875  25,626  1,212  22,980
9   2,659  81,282  ...  26,741    748  27,455  1,285  24,322  1,252  21,076
10  1,887  53,086  ...  25,406    475  24,489    476  22,849    540  21,343
11  2,032  57,985  ...  26,566    896  26,714  1,380  24,370  1,112  21,049
12  3,482  73,599  ...  33,024  1,482  35,022  1,074  29,003  1,206  28,961
13  2,405  59,497  ...  23,450  1,004  20,755    834  20,749    680  20,761
14  2,253  65,969  ...  29,524    754  27,084    536  26,511    634  24,870
15  1,997  58,767  ...  26,293    931  22,519    944  22,728    709  22,675
16  2,910  63,467  ...  24,305  1,078  22,190    912  22,459    750  20,927
17  2,027  56,900  ...  25,566  1,153  25,583    900  23,926    782  22,788
18  3,668  49,672  ...  19,907    801  20,673    939  19,874  1,006  17,361
19  1,754  43,565  ...  20,497  1,474  21,349    858  20,890    956  21,179
20  5,683  53,316  ...  26,402    942  23,600  1,019  23,424    970  20,519
21  3,331  82,093  ...  36,552  1,196  34,970  1,388  30,604  1,036  30,136
22  2,785  76,243  ...  33,213    839  32,241    716  30,339    735  28,207
23  1,906  56,405  ...  29,472    607  27,702    724  26,605    648  24,242
24  3,656  69,975  ...  29,087  1,041  28,082  1,113  26,443  1,150  23,856
25  2,304  43,281  ...  18,166    888  18,513    901  16,513    639  16,413
26  2,442  56,530  ...  23,443  1,088  23,720  1,167  21,925    772  21,939
27  2,876  57,407  ...  22,231    829  20,474    799  20,328    749  20,236
28  3,933  59,583  ...  25,159    960  23,268    761  21,772    814  21,799
29  2,116  58,041  ...  27,983    956  26,878  1,128  26,217    895  23,274
30  3,394  75,630  ...  34,625  1,129  32,338  1,450  30,548    829  26,403
31  2,845  71,240  ...  36,287    658  34,241    794  31,715    842  30,980
32  2,202  45,601  ...  19,296    833  20,758    621  19,845    693  20,423
33  1,722  61,543  ...  28,915    668  26,384    456  25,025    474  23,639
34  1,761  49,547  ...  24,415    536  22,760    542  21,861    698  21,451
35  3,095  60,167  ...  24,092  1,009  22,576    905  21,508    785  21,205
36  2,254  60,688  ...  27,740    636  25,773    555  25,115    588  25,174
37  2,774  51,882  ...  23,667    756  21,691    884  20,948    871  21,205
38  3,655  62,498  ...  27,748  1,150  25,038  1,092  24,773  1,002  21,894
39  1,635  61,285  ...  26,742    497  25,424    541  23,807    495  22,877
40  3,348  65,401  ...  29,842  1,584  28,292  1,440  26,540  1,060  24,625
41  2,082  54,537  ...  25,533  1,150  25,049  1,136  21,968    864  20,036
42  2,642  56,914  ...  22,294    703  21,151    597  19,898    664  18,142
43  1,442  55,306  ...  20,856  1,017  21,179    795  18,256    884  17,778
44  1,372  60,092  ...  24,963    582  24,721    637  24,162    514  23,743
45  2,327  69,789  ...  26,313    909  26,529  1,194  26,281    810  25,238
46  2,350  63,682  ...  28,988  1,077  25,415  1,374  24,599  1,003  26,000
47  3,086  70,811  ...  32,648  1,319  29,996  1,013  29,715  1,074  28,429
48  3,025  71,540  ...  32,327  1,030  27,319  1,108  26,881    950  24,000
49  1,337  46,957  ...  19,353    930  17,207    778  16,464    905  15,983
50  2,039  63,482  ...  29,575    978  26,369  1,410  26,430    803  23,246
51  3,892  59,536  ...  26,419  1,095  27,590  1,458  23,559    863  22,081

      U n     1 9    U n
0     128  22,415    102
1     760  17,310    605
2   1,089  32,356  1,473
3     744  21,425    609
4     764  15,674    748
5     350  25,287    364
6     850  25,801    805
7   1,129  29,951  1,238
8   1,366  25,819  1,027
9     756  20,408    860
10    437  19,785    468
11    788  19,984    815
12  1,446  28,877  1,216
13    598  21,092    963
14    523  23,752    567
15    626  22,770    710
16    604  19,863    745
17  1,033  24,629    912
18    748  17,680  1,079
19    728  18,949    880
20    803  20,648    884
21    966  29,708  1,151
22    810  26,959    693
23    838  22,965    635
24  1,022  24,436    914
25    619  15,430    732
26    608  20,775    715
27    800  19,536    720
28    914  21,397    765
29  1,005  25,776  1,018
30  1,074  25,914    735
31    643  27,776    800
32  1,025  20,630  1,029
33    523  22,027    417
34    585  20,569    641
35    809  20,771  1,038
36    564  23,123    492
37    764  21,148    718
38  1,042  21,399    745
39    538  20,346    499
40    900  21,612    848
41    862  20,309    934
42    702  19,409    928
43    557  16,782    576
44    546  23,024    533
45    702  23,057    735
46    942  22,578    983
47  1,324  26,525    874
48    756  25,017    823
49    828  16,843    608
50  1,161  20,743    821
51  1,049  23,816    731

[52 rows x 81 columns]