In [18]:
import pandas as pd
import numpy as np

pd.read_csv("h08.csv")

df = pd.read_csv("h08.csv", header=[0,1])
print(df)

    Table with row headers in column A and column headers in rows 8 through 9 and 63 through 64  \
                                      Table H-8. Median Household Income by State: 1984 to 2021
0    Information on confidentiality protection, sam...
1    Footnotes are available at <www.census.gov/top...
2    Source: U.S. Census Bureau, Current Population...
3    (Households as of March of the following year....
4                                      Current Dollars
..                                                 ...
109                                           Virginia
110                                         Washington
111                                      West Virginia
112                                          Wisconsin
113                                            Wyoming

    Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
    Unnamed: 1_level_1 Unnamed: 2_level_1 Unnamed: 3_level_1
0                  NaN                NaN                NaN
1                  NaN                NaN                NaN
2                  NaN                NaN                NaN
3                  NaN                NaN                NaN
4                  NaN                NaN                NaN
..                 ...                ...                ...
109             80,268              2,953             86,053
110             87,648              3,307             85,157
111             46,836              2,247             54,396
112             69,943              3,133             70,553
113             71,052              3,919             68,506

    Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0  \
    Unnamed: 4_level_1 Unnamed: 5_level_1 Unnamed: 6_level_1
0                  NaN                NaN                NaN
1                  NaN                NaN                NaN
2                  NaN                NaN                NaN
3                  NaN                NaN                NaN
4                  NaN                NaN                NaN
..                 ...                ...                ...
109              3,261             86,172              3,239
110              3,242             87,381              3,094
111              2,280             56,916              3,174
112              5,051             71,380              2,462
113              2,309             69,027              3,998

    Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
    Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1  ...
0                  NaN                NaN                NaN  ...
1                  NaN                NaN                NaN  ...
2                  NaN                NaN                NaN  ...
3                  NaN                NaN                NaN  ...
4                  NaN                NaN                NaN  ...
..                 ...                ...                ...  ...
109             83,243              3,330             78,265  ...
110             86,021              3,264             79,071  ...
111             54,566              1,443             51,900  ...
112             67,574              2,200             70,164  ...
113             67,477              4,199             65,803  ...

    Unnamed: 71_level_0 Unnamed: 72_level_0 Unnamed: 73_level_0  \
    Unnamed: 71_level_1 Unnamed: 72_level_1 Unnamed: 73_level_1
0                   NaN                 NaN                 NaN
1                   NaN                 NaN                 NaN
2                   NaN                 NaN                 NaN
3                   NaN                 NaN                 NaN
4                   NaN                 NaN                 NaN
..                  ...                 ...                 ...
109              72,089               2,912              68,626
110              71,381               2,274              62,502
111              42,733               2,054              39,367
112              65,304               2,160              60,328
113              58,335               2,418              63,122

    Unnamed: 74_level_0 Unnamed: 75_level_0 Unnamed: 76_level_0  \
    Unnamed: 74_level_1 Unnamed: 75_level_1 Unnamed: 76_level_1
0                   NaN                 NaN                 NaN
1                   NaN                 NaN                 NaN
2                   NaN                 NaN                 NaN
3                   NaN                 NaN                 NaN
4                   NaN                 NaN                 NaN
..                  ...                 ...                 ...
109               2,318              70,322               2,542
110               2,535              63,615               2,248
111               1,780              38,963               2,142
112               3,226              62,548               1,900
113               3,336              55,754               2,042

    Unnamed: 77_level_0 Unnamed: 78_level_0 Unnamed: 79_level_0  \
    Unnamed: 77_level_1 Unnamed: 78_level_1 Unnamed: 79_level_1
0                   NaN                 NaN                 NaN
1                   NaN                 NaN                 NaN
2                   NaN                 NaN                 NaN
3                   NaN                 NaN                 NaN
4                   NaN                 NaN                 NaN
..                  ...                 ...                 ...
109              68,456               3,188              66,064
110              57,791               1,820              62,308
111              38,487               1,994              41,950
112              55,976               2,796              51,663
113              53,170               2,526              59,317

    Unnamed: 80_level_0
    Unnamed: 80_level_1
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
..                  ...
109               2,177
110               2,050
111               1,514
112               2,045
113               1,821

[114 rows x 81 columns]